In [ ]:
# 사용자의 입력을 받으려면 input() 함수를 사용합니다.
age = int(input("나이를 입력하세요: "))  # 입력값을 정수로 변환
print(f"당신의 나이는 {age}살입니다.")

In [ ]:
# 1. 사용자가 입력한 두 개의 문자열을 합쳐서 대문자로 출력하라.

In [ ]:
# 2. 문자열 s = "python is fun"에서 단어의 첫 글자만 대문자로 바꾼 문장을 출력하라.
s = "python is fun"

In [ ]:
# 3. 문자열 "2025-03-28"에서 연도, 월, 일을 분리해서 각각 출력하세요

In [ ]:
# 4. 문자열 "abc123"에서 숫자만 추출하여 정수로 변환하라.

In [ ]:
# 5. 문자열 " Hello Python! "에서 양쪽 공백 제거 후 느낌표를 제거한 결과를 출력하라.

In [ ]:
# 6. str = "apple,banana,grape"를 리스트로 만든 뒤, 리스트의 값을 알파벳 역순으로 정렬하라.
str = "apple,banana,grape"

In [ ]:
# 7. 숫자 1~10으로 이루어진 리스트에서 3의 배수만 골라 새로운 리스트를 만들어 출력하라.

In [ ]:
# 8. 리스트 my_list = [10, 20, 30, 40, 50]을 거꾸로 출력하라 (두 가지 방법으로)
my_list = [10, 20, 30, 40, 50]
# (1) 슬라이싱을 이용하는 방법
# (2) 내장함수를 이용하는 방법 2가지로 구현

In [ ]:
# 9. 두 개의 리스트 list1 = [1, 2, 3], list2 = [4, 5, 6]를 합쳐 하나의 리스트로 만든 후 평균을 출력하라.
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [ ]:
# 10. my_tuple = (10, 20, 30, 40)에서 요소의 총합과 평균을 구하라.
my_tuple = (10, 20, 30, 40)

In [ ]:
# 11. 사용자가 입력한 나이에 따라 다음과 같이 출력되도록 하세요.
# 0~12: "Child"
# 13~19: "Teen"
# 20~64: "Adult"
# 65 이상: "Senior"

In [ ]:
# 12. 두 개의 숫자를 입력받아 큰 수를 출력하되, 같으면 "Equal"을 출력하라.

In [ ]:
# 13. 세 수를 입력받아 오름차순 정렬한 결과를 출력하라.

In [ ]:
# 14. 리스트 my_list = [1, 2, 3, 4, 5]에서 짝수는 제곱, 홀수는 그대로 출력하는 코드 작성하라.
my_list = [1, 2, 3, 4, 5]

In [ ]:
# 15. my_list = [5, 3, 8, 1]에서 가장 작은 수와 가장 큰 수의 차이를 구하라.
my_list = [5, 3, 8, 1]

In [ ]:
# 16. my_list = [10, 20, 30]에서 마지막 요소를 제거한 후, 그 값을 다시 리스트 맨 앞에 추가하라.
my_list = [10, 20, 30]

In [ ]:
# 17. my_tuple = (1, 2, 3)을 리스트로 변환한 뒤, 값 4를 추가하고 다시 튜플로 변환하라.
my_tuple = (1, 2, 3)

In [ ]:
# 18. 딕셔너리 my_dict = {"math": 80, "english": 90, "science": 60}에서 평균 점수와 최고 점수, 최고 점수를 받은 과목을 출력하라.
my_dict = {"math": 80, "english": 90, "science": 60}

In [ ]:
# 19. 1부터 100까지 중 3과 5의 공배수만 출력하라.

In [ ]:
# 20. 알파벳 소문자로만 이루어진 단어를 입력받아, 이 단어가 팰린드롬인지 아닌지 확인하는 프로그램을 작성하시오
# 팰린드롬이란 앞으로 읽을 때와 거꾸로 읽을 때 똑같은 단어를 말한다.
# level, noon은 팰린드롬이고, online, judge는 팰린드롬이 아니다.